################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TemplateZipper
/Templates/ItemTemplates/MAUIBaseViewModelPage/.vs
